@import "tailwindcss";

@font-face {
  font-family: "amazon-ember";
  src: url('./assets/fonts/AmazonEmber_Rg.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "amazon-ember";
  src: url('./assets/fonts/Amazon-Ember-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "amazon-ember";
  src: url('./assets/fonts/AmazonEmber_Bd.ttf');
  font-weight: bold;
}

body {
  font-family: 'amazon-ember';
}